#SceneChat {
    -fx-background-color: #e0ffe0;
}

#topBar {
    -fx-background-color: #2E7D32;
}

#titleLabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 35px;
}

#logoutButton {
    -fx-background-color: #009900;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#settingsButton {
    -fx-background-color: #2E7D32;
    -fx-text-fill: #ffffff;
}

#chatArea {
    -fx-background-color: #e0ffe0;
}

#inputArea {
    -fx-background-color: #2E7D32;
}

#userMessage {
    -fx-background-color: #66ff66; 
    -fx-text-fill: #000000; 
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#botMessage {
    -fx-background-color: #99ff99; 
    -fx-text-fill: #000000; 
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#thinkingMessage {
    -fx-text-fill: #2E7D32;
    -fx-font-size: 35px;
}

#questionButton {
    -fx-background-color: #2E7D32;
    -fx-text-fill: #ffffff; /* Warna teks putih */
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 17px;
}
