#topBar {
    -fx-background-color: #2E7D32;
    -fx-border-color: #1B5E20;
    -fx-border-width: 0 0 4px 0;
}

#titleLabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

#logoutButton {
    -fx-background-color: #009900;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#settingsButton {
    -fx-background-color: #2E7D32;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

#chatArea {
    -fx-border-width: 0 0 4px 0;
    -fx-padding: 10px;
}

#inputArea {
    -fx-background-color: #2E7D32;
    -fx-border-color: #1B5E20;
    -fx-border-width: 4px 0 0 0;
    -fx-padding: 10px;
}

#userMessage {
    -fx-background-color: #66ff66; 
    -fx-text-fill: #000000; 
    -fx-padding: 10px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-size: 17px;
}

#botMessage {
    -fx-background-color: #99ff99; 
    -fx-text-fill: #000000; 
    -fx-padding: 10px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-size: 17px;
}

#thinkingMessage {
    -fx-text-fill: #2E7D32;
    -fx-font-size: 35px;
}

#questionButton {
    -fx-background-color: #2E7D32;
    -fx-text-fill: #ffffff; 
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 17px;
    -fx-cursor: pointer;
}

#questionButton:hover {
    -fx-background-color: #66ff66;
}

#questionButton:pressed {
    -fx-background-color: #009900;
}


/* untuk style profile information */
.profile-dialog {
    -fx-background-color: #e0ffe0; /* Warna latar belakang hijau muda */
}

.profile-dialog .button {
    -fx-background-color: #4CAF50; /* Warna tombol hijau */
    -fx-text-fill: white; /* Warna teks tombol */
    -fx-font-size: 14px; /* Ukuran font tombol */
    -fx-font-weight: bold; /* Ketebalan font tombol */
}

.profile-dialog .button:hover {
    -fx-background-color: #45a049; /* Warna tombol saat hover */
}

.profile-dialog .label {
    -fx-font-size: 16px; /* Ukuran font label */
    -fx-font-weight: bold; /* Ketebalan font label */
    -fx-text-fill: #333; /* Warna teks label */
}

/* untuk tombol scroll kebawah */
#scrollToBottomButton {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-padding: 10px;
}
#scrollToBottomButton:hover {
    -fx-background-color: #218838;
}
